@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-darkColor: #151515;
  --color-lightColor: #52525b;
  --color-lightOrange: #fca99b;
  --color-lightBlue: #7688db;
  --color-darkBlue: #6c7fd8;
  --color-darkText: #686e7d;
  --color-lightBg: #f8f8fb;
}

@layer base {
  * {
    @apply border-[#E5E5E5];
  }
  button {
    @apply cursor-pointer;
  }
}
