@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-darkColor: #151515;
  --color-lightColor: #52525b;
  --color-lightOrange: #fca99b;
  --color-lightBlue: #7688db;
  --color-darkBlue: #6c7fd8;
  --color-darkText: #686e7d;
  --color-lightBg: #f8f8fb;
}

@layer base {
  * {
    @apply border-[#E5E5E5];
  }
  button {
    @apply cursor-pointer;
  }
  .input-box {
    @apply w-full px-3 py-2.5 border rounded-xs outline-none overflow-hidden placeholder:text-gray-300;
  }
  .nav-hover-btn {
    @apply hover:text-black after:absolute after:-bottom-0.5 after:left-0 after:h-0.5 after:w-full after:origin-bottom-right after:scale-x-0 after:bg-black after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65,0.05,0.36,1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-black;
  }
}

/* Cart Scrollbar */
.cart-scroll::-webkit-scrollbar {
  width: 1px;
}
.cart-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
}
.cart-scroll::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 9999px;
}
.cart-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}
